@model Mover.Areas.Admin.ViewModel.Order.OrderStatusViewModel

<div class="modal-header">
    <h5 class="modal-title">Edit Order Status</h5>
    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
</div>
<div class="modal-body">
    <form asp-action="UpdateOrderStatus" method="post">
        <input type="hidden" asp-for="OrderId" />

        <div class="form-group">
            <label for="OrderStatus">Order Status</label>
            <select asp-for="OrderStatus" asp-items="ViewBag.OrderStatus" class="form-control">
                <option value="">--Select Order Status--</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success mt-3">
            <i class="fa fa-save"></i> Save
        </button>
    </form>
</div>
