<ul class="dropdown-menu" aria-labelledby="shopDropdown">
    @foreach (var category in Model)
    {
        <li><a class="dropdown-item" href="/admin/product/viewproducts?categoryId=@category.Id">@category.Name</a></li>
    }
</ul>
